.BlogItemWrapper {
  background: $color-white;
  //padding: 1rem 2rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  .BlogItemImageWrapper {
    width: 100%;
    .BlogItemImage {
      max-width: 100%;
      div {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    }
  }
  .BlogItemContentWrapper {
    text-align: center;
    padding: 1rem 2rem;
    .BlogItemContentTitle {

    }

    .BlogItemContent {

    }
  }
}
