.BlogContainer {
  height: 100vh;
  background: $color-light-black;
}
h4 {
  color: $color-white;
}
.CountDownTimer {
  font-size: 1.6rem;
  color: $color-white;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  &.CountDownThree {
    font-size: 2rem;
    color: $primary-color;
  }
  &.CountDownTwo {
    font-size: 2rem;
    color: $primary-color;
  }
  &.CountDownOne {
    font-size: 2.2rem;
    color: $primary-color;
  }
}
