.FormContainer {
  @include full-center;
  width: 100%;

  .FormContent {
    background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.2) 0%,
      rgba($color-white, 0.2) 50%,
      rgba($color-white, 0.5) 50%
    );
    @include media-q(tab-port) {
      background-image: unset;
      background-color: rgba($color-white, 0.5);
    }
    @include media-q(phone) {
      background-image: unset;
      background-color: rgba($color-white, 0.5);
    }
    @include default-bShadow-w-bRadius;
    .LeftContent {
      @include media-q(tab-port) {
        display: none;
      }
      @include media-q(phone) {
        display: none;
      }
    }
    form {
      width: 100%;
      padding: 6rem;
      @include media-q(phone) {
        padding: 1.25rem;
      }
    }

    label {
      font-size: 1.2rem;
      font-weight: 700;
      margin-left: 4rem;
      margin-top: 0.7rem;
      display: block;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      color: $light-color-white;
    }

    input,
    textarea {
      width: 90%;
      font-family: inherit;
      font-size: 1.5rem;
      padding: 2.5rem 2rem;
      background-color: rgba($color-white, 0.2);
      border-color: transparent;
      border-bottom: 3px solid transparent;
      color: $color-white;
      margin: 0 auto;

      @include media-q(phone) {
        padding: 1rem 2rem;
      }
      &::placeholder,
      &::-webkit-input-placeholder {
        color: $color-white;
      }

      &:placeholder-shown + label {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(-3rem);
        -moz-transform: translateY(-3rem);
        -ms-transform: translateY(-3rem);
        -o-transform: translateY(-3rem);
        transform: translateY(-3rem);
      }

      &:focus {
        outline: none;
        -webkit-box-shadow: $default-elements-box-shadow;
        -moz-box-shadow: $default-elements-box-shadow;
        box-shadow: $default-elements-box-shadow;
        border-bottom: 3px solid $primary-color;

        &:invalid {
          border:unset;
          border-bottom: 3px solid $invalid-color;
        }
      }
    }
  }
  .RightContentContainer {
    @include media-q(tab-port) {
      width: 100%;
      max-width: 100%;
      flex:unset;
    }
    @include media-q(mobile) {
      width: 100%;
      max-width: 100%;
      flex:unset;
    }
    .RightContent {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 6rem;


      .List {

        @include media-q(tab-port-higher) {
          @include full-center;
        }
        @include media-q(tab-port) {
          text-align: center;
        }
        @include media-q(phone) {
          text-align: center;
        }
        svg {
          font-size: 2rem;
          color: $color-white;
        }
        a {
          margin-left: 1rem;
          font-size: 2rem;
          color: $color-white;
        }
      }
      .Copyrights {
        @include media-q(tab-port-higher) {
         @include center-bottom;
        }
        @include media-q(tab-port) {
          margin-top: 2rem;
        }
        width: 100%;
        text-align: center;
        color: $primary-color;
        font-weight: bold;
        p {
          @include media-q(phone) {
            font-size: 1.2rem;
          }
        }

      }
    }
  }

}

.Input {
  background: transparent;
}

.Error {
  border: 1px solid red;
}
