@import "../../../../assets/styles/variables";
.Button {
  padding: 10px;
  background: transparent;
  border: 1px solid $primary-btn-color;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  color: $primary-btn-color;
  font-family: Open Sans;
  letter-spacing: 4px;
  line-height:2rem;
}