.ContentContainer {
  position: relative;
  .headerTypist {
    @include full-center;
    color: #fff;

    h1 {
      color: $primary-btn-color;
      font-weight: bold;
      font-size: 3rem;
      //text-shadow: 0 0 8px rgba(lighten($color-white, 50%), 0.3);
    }
  }
}
