.container,
.container-fluid {
  &.home-container {
    margin-left: 6rem;
    height: 100vh;
  }
}

// Project Page Overrides
#project-page {
  .customHeadings {
    color: $primary-color;
  }
  .project-overview-title {
    font-size: 4rem;
  }
  .project-overview-description {
    font-size: 2.6rem;
    p {
      font-size: 2rem;
    }

  }
  .project-url-btn {
    background-color: $color-black !important;
    color: $white !important;
    border: 2px solid $color-black !important;
    font-size: 3rem;
    font-weight: bold;

  }
  .project-skill-icon {
    text-align: center;
    .project-skill-image-wrapper {
      box-shadow: 0 1rem 3rem #00000029;
      border-radius: 1.5rem;
      padding: 1.5rem;
      margin: 1.5rem;
    }

  }
  ul {
    margin: 2rem;
    li {
      list-style-type: none;
      padding: 1rem 0;
      font-size: 2rem;
      letter-spacing: 0;
    &::before {
      content: '';
      width: 17px;
      display: inline-block;
      height: 17px;
      margin-right: 1rem;
      background: url("/check-icon.svg");
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    }
  }
}
.custom-shape-divider-bottom {
  position: relative;
  //bottom: 0;
  //left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  height: 85vh;
  .customer-shape-overlay {
    background: rgba(000, 000, 000, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .divider-bg-image {
    height: 100%;
   }
  .content-wrapper {
    z-index: 2;
    font-family: $ubuntu-font;
    @include full-center;
    .project-subtitle {
      font-size: 3.5rem;
      color: $light-color-white;
      text-shadow: 0px .5rem 1rem #00000080;
      font-weight: bold;

    }
    .project-overview {
      font-size: 2rem;
      line-height: 2rem;
      color: $light-color-white;
      text-shadow: 0px .5rem 1rem #00000080;
      font-weight: bold;

    }
    .project-date {
      font-size: 2rem;
      color: $light-color-white;
      margin-bottom: 3rem;
      font-weight: bold;
    }

  }
  svg {
    position: absolute;
    display: block;
    width: calc(100% + 1.3px);
    height: 86px;
    bottom: 0;
    z-index: 3;
    @include media-q(tab-port) {
      display: none;
    }
    @include media-q(phone) {
      display: none;
    }
  }
  .shape-fill {
    fill: #ffffff;
  }

}
// Timeline

.vertical-timeline-element-title {
  font-weight: $font-weight-bolder;
}
.vertical-timeline-element-subtitle {
  font-weight: $font-weight-bold;
  font-style: italic;
}
.vertical-timeline-element-content {
  .timeline-paragraph {
    color: $light-color-white;
    font-size: 1.6rem;
  }
}
.vertical-timeline--two-columns {
  .vertical-timeline-element-content {
    .vertical-timeline-element-date {
      font-size: 1.5rem;
    }
  }
}

.top-tags {
  bottom: auto;
  top: 2rem;
}

.bottom-tags {
  bottom: 5%;
}
.timeline-paragraph {
  font-family: 'Open Sans';
}

.container {
  @media screen and (min-width: 1500px) {
    max-width: 1400px;
  }
  @media screen and (min-width: 1700px) {
    max-width: 1550px;
  }
  //@media screen and (min-width: 1900px) {
  //  max-width: 1700px;
  //}
}

//.date {
//  color: var(--secondary);
//  font-size: 14px;
//  text-transform: uppercase;
//}

.card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.card {
  position: relative;
  padding: 25px;
  height: 460px;
  flex: 0 0 40%;
  max-width: 40%;
  background: transparent;
  border: unset;
}

.card:nth-child(4n + 1),
.card:nth-child(4n + 4) {
  flex: 0 0 60%;
  max-width: 60%;
}

.card:nth-child(odd) {
  padding-left: 0;
}

.card:nth-child(even) {
  padding-right: 0;
}

.card-content-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  pointer-events: none;
}

.card-content-container.open {
  top: 10%;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  padding: 40px 0;
}

.card-content {
  pointer-events: auto;
  position: relative;
  border-radius: 20px;
  background: #1c1c1e;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.open .card-content {
  height: auto;
  max-width: 700px;
  overflow: hidden;
}

.card-open-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-image-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 420px;
  width: 100vw;
  transform: translateZ(0);
}

.title-container {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 300px;
}

.category {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.overlay {
  z-index: 1;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 990px;
}

.overlay a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;

  transform: translateX(-50%);
}

.bubble {
  position: absolute;
  width: 25rem;
  height: 12rem;
  padding: 1rem;
  background: #906464;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  display: inline-block;
  right: 150px;
  bottom: 50px;
  &::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 2rem 0 2rem 2.5rem;
    border-color: transparent #906464;
    display: block;
    width: 0;
    z-index: 1;
    right: -24px;
    top: 40px;
  }
}

.iframe-container {
  overflow: hidden;
  padding-top: 62.5%;
  position: relative;
  iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
.content-container {
  padding: 460px 35px 35px 35px;
  max-width: 700px;
  width: 90vw;
}
.w-100 {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .card {
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 10px;
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    flex: 1 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 1 0 100%;
    max-width: 100%;
  }

  .card-content-container.open {
    padding: 0;
  }
}
@media only screen and (max-width: 600px) {
  .card-content-container {
    width: 90%;
  }
}
