// Colors
$color-white: #fff;
$color-black: #000;
$body-color: #1d1d1d;
$light-color-white: #fff;
$primary-color: #d36135;
$primary-btn-color: #b95;
$light-icon-color: #fff;

// LOL COLORS
$color-white: #d8e9ef;
$color-black: #000;
$body-color: #454552;
$light-color-white: #d8e9ef;
$primary-color: #e85a71;
$primary-btn-color: #e85a71;
$light-icon-color: #fff;

// COLOR HUNT

$color-white: #eeeeee;
$color-black: #222831;
$color-light-black: #393e46;
$body-color: #222831;
$light-color-white: #eeeeee;
$primary-color: #00adb5;
$primary-btn-color: #00adb5;
$light-icon-color: #eeeeee;
$invalid-color: red;
$color-red: red;


// Custom Colors -.-
$primary-color: #EE4539;
$primary-btn-color: #EE4539;
$body-color:#1D2528;
$color-light-black: #2B343D;
//$body-color:#1D2528;
$color-black: #1D2528;




// Box Shadows

$timeline-bg-color: rgba(233, 33, 99, 1);
$timeline-box-shadow-px: 0px 0px 0px 3px;
$timeline-box-shadow-color: rgba(233, 33, 99, 0.2);

$default-elements-box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
$btn-default-box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);

// Fonts

$headings-font: 'Sedgwick Ave Display', sans-serif;
$text-font: 'Raleway', sans-serif;
$button-font: 'Sedgwick Ave Display', sans-serif;
$ubuntu-font: 'Raleway', sans-serif;

// Font sizes :

$big-font: 4.25rem;
$medium-font: 3rem;
$menu-font: 2rem;
$normal-font: 1.6rem;

$big-font-mob: 2rem;
$medium-font-mob: 2.25rem;

// Font Weights

$font-weight-base: 400;
$font-weight-bold: 600;
$font-weight-bolder: 800;
