$color-white:#fff;
$light-color-white:#fff;
$primary-color:#d36135;
$primary-btn-color:#B95;
$timeline-bg-color: rgba(233, 33, 99, 1);
$timeline-box-shadow-px: 0px 0px 0px 3px;
$timeline-box-shadow-color: rgba(233, 33, 99, 0.2);
$light-icon-color:#fff;
